<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.reallyenglish.cordova.plugin.browser-media-recorder" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>BrowserRecorder</name>


  <!-- Plugin source code: Core -->
  <js-module name="BrowserMediaRecorder" src="www/BrowserMediaRecorder.js">
    <clobbers target="window.Recorder" />
  </js-module>

  <!-- browser -->
  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="MediaRecorder">
        <param name="browser-package" value="MediaRecorder" />
      </feature>
    </config-file>
    <asset src="src/browser/recorder.swf" target="scripts/recorder.swf" />

    <js-module src="src/browser/MediaRecorderProxy.js" name="MediaRecorderProxy">
      <runs />
    </js-module>
    <js-module src="src/browser/media-recorder.js" name="MediaRecorder">
      <runs/>
    </js-module>
  </platform>
</plugin>
